/* [project]/app/objetivos/PaginaObjetivos.module.css [app-client] (css) */
.PaginaObjetivos-module__prcU9G__add_button {
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  background-color: #1c4985;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  left: 1150px;
  top: 60px;
  text-decoration: none;
}

.PaginaObjetivos-module__prcU9G__add_obj {
  position: relative;
  left: 1200px;
  top: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.PaginaObjetivos-module__prcU9G__filtroContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 20%;
  left: 15%;
  margin: 30px 0;
}

.PaginaObjetivos-module__prcU9G__filtroTitulo {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.PaginaObjetivos-module__prcU9G__select {
  padding: .6rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 6px #0000000d;
  transition: border .3s;
}

.PaginaObjetivos-module__prcU9G__select:focus {
  border-color: #0070f3;
  outline: none;
}

.PaginaObjetivos-module__prcU9G__card {
  position: relative;
  left: 440px;
  top: -30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0000001a;
  padding: 24px;
  max-width: 600px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.PaginaObjetivos-module__prcU9G__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.PaginaObjetivos-module__prcU9G__objetivos {
  position: relative;
  left: 700px;
  font-size: 24px;
  margin: 0;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.PaginaObjetivos-module__prcU9G__buttons button {
  padding: 6px 12px;
  margin-left: 6px;
  font-size: 14px;
  border: none;
  background-color: #1c4985;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.PaginaObjetivos-module__prcU9G__button_desa button {
  padding: 6px 12px;
  margin-left: 6px;
  font-size: 14px;
  border: none;
  background-color: #1c4985;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  bottom: 50px;
  left: 240px;
}

.PaginaObjetivos-module__prcU9G__objective_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.PaginaObjetivos-module__prcU9G__progress_bar_obj {
  width: 100%;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 4px;
  margin-bottom: 24px;
}

.PaginaObjetivos-module__prcU9G__progress_bar_kr {
  width: 50%;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 4px;
  margin-bottom: 24px;
}

.PaginaObjetivos-module__prcU9G__progress_bar_ini {
  width: 25%;
  position: absolute;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 4px;
  margin-bottom: 24px;
}

.PaginaObjetivos-module__prcU9G__ini_titulo {
  position: relative;
  bottom: 25px;
}

.PaginaObjetivos-module__prcU9G__porcentagem_ini {
  font-size: 14px;
  color: #6b7280;
  margin-left: 8px;
  position: relative;
  bottom: 25px;
}

.PaginaObjetivos-module__prcU9G__progress {
  height: 100%;
  background-color: #10b981;
  width: 60%;
  border-radius: 4px;
}

.PaginaObjetivos-module__prcU9G__kr {
  margin-bottom: 20px;
}

.PaginaObjetivos-module__prcU9G__kr_title {
  font-weight: bold;
  margin-bottom: 8px;
}

.PaginaObjetivos-module__prcU9G__kr_title span {
  font-weight: normal;
}

.PaginaObjetivos-module__prcU9G__lista_bola {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}

.PaginaObjetivos-module__prcU9G__lista_num {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.PaginaObjetivos-module__prcU9G__percentage {
  font-size: 14px;
  color: #6b7280;
  margin-left: 8px;
}


/*# sourceMappingURL=app_objetivos_PaginaObjetivos_module_5779519f.css.map*/
