/* [project]/app/resultadosChave/PaginaKRS.module.css [app-client] (css) */
.PaginaKRS-module__cDuGxG__add_button {
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  background-color: #1c4985;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  left: 1150px;
  top: 60px;
  text-decoration: none;
}

.PaginaKRS-module__cDuGxG__add_obj {
  position: relative;
  left: 1200px;
  top: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.PaginaKRS-module__cDuGxG__card {
  position: relative;
  left: 440px;
  top: -30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0000001a;
  padding: 24px;
  margin-bottom: 30px;
  max-width: 600px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.PaginaKRS-module__cDuGxG__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.PaginaKRS-module__cDuGxG__KRS {
  position: relative;
  left: 650px;
  font-size: 24px;
  margin: 0;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.PaginaKRS-module__cDuGxG__buttons button {
  padding: 6px 12px;
  margin-left: 6px;
  font-size: 14px;
  border: none;
  background-color: #1c4985;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.PaginaKRS-module__cDuGxG__button_desa button {
  padding: 6px 12px;
  margin-left: 6px;
  font-size: 14px;
  border: none;
  background-color: #1c4985;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  bottom: 15px;
  left: 95px;
}

.PaginaKRS-module__cDuGxG__progress_bar_kr {
  width: 50%;
  position: relative;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 4px;
  margin-bottom: 24px;
}

.PaginaKRS-module__cDuGxG__progress_bar_ini {
  width: 25%;
  position: absolute;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 4px;
  margin-bottom: 24px;
}

.PaginaKRS-module__cDuGxG__ini_titulo {
  position: relative;
  bottom: 25px;
}

.PaginaKRS-module__cDuGxG__progress {
  height: 100%;
  background-color: #10b981;
  width: 60%;
  border-radius: 4px;
}

.PaginaKRS-module__cDuGxG__kr {
  margin-bottom: 20px;
}

.PaginaKRS-module__cDuGxG__kr_titulo {
  font-weight: bold;
  margin-bottom: 8px;
}

.PaginaKRS-module__cDuGxG__kr_titulo span {
  font-weight: normal;
}

.PaginaKRS-module__cDuGxG__lista_bola {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}

.PaginaKRS-module__cDuGxG__lista_num {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.PaginaKRS-module__cDuGxG__pendente {
  background-color: #e5e7eb;
  color: #374151;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
}

.PaginaKRS-module__cDuGxG__porcentagem_kr {
  font-size: 14px;
  color: #6b7280;
  margin-left: 8px;
}

.PaginaKRS-module__cDuGxG__porcentagem_ini {
  font-size: 14px;
  color: #6b7280;
  margin-left: 8px;
  position: relative;
  bottom: 25px;
}

.PaginaKRS-module__cDuGxG__filtroContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0;
  position: absolute;
  top: 20%;
  left: 15%;
}

.PaginaKRS-module__cDuGxG__filtroTitulo {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.PaginaKRS-module__cDuGxG__select {
  padding: .6rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 6px #0000000d;
  transition: border .3s;
}

.PaginaKRS-module__cDuGxG__select:focus {
  border-color: #0070f3;
  outline: none;
}


/*# sourceMappingURL=app_resultadosChave_PaginaKRS_module_71d7d681.css.map*/
